.container {
  max-width: 1440px;

  @include onMobile {
    padding: 0 30px;
  }

  @include onTablet {
    padding: 0 34px;
  }

  @include onDesktop {
    padding: 0 135px;
  }

  &--size {
    padding-top: 30px;

    @include onTablet {
      padding-top: 210px;
    }

    @include onDesktop {
      padding-top: 150px;
    }
  }
}