.menu {
  @extend %manrope-16;
  display: none;
  &__shopper {
  display: none;
  }

  @include onDesktop {
    display: flex;

    &__list {
      display: flex;
      flex-direction: row;
      gap: 40px;
    }

    &__link {
      position: relative;
      display: block;
      transition: all $transition-duration;

      &:hover {
        transform: scale(1.2);
      }
    }

    &__item {
      text-decoration: none;
      color: $dark-grey;
      padding: 5px 10px;
      border-radius: 20px;

      transition: all 0.2s;

      &:hover {
        background-color: $blue;
        color: $yellow;
      }
    }

    &__shopper {
      display: block;
    }

    &__bag {
      box-sizing: border-box;
      display: block;
      height: 30px;
      width: 30px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 0 -0.8px;
      background-image: url("../images/icons/menu-bag.svg");
      transition: transform $transition-duration;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}