.whom {
  position: relative;
  padding-top: 110px;
  @include onTablet {
    padding-top: 80px;
  }

  @include onDesktop {
    padding-top: 200px;
  }

  &__title {
    @extend %bebas-36;
    letter-spacing: 0.155em;
    color: $gray;
    margin-bottom: 100px;

    @include onTablet {
      margin-bottom: 42px;
    }
  }

  &__description {
    position: relative;
    @extend %bebas-36;
    letter-spacing: 0.155em;
    margin-bottom: 20px;

    &--1{
      &::before {
      content: '';
      display: block;
      background-repeat: no-repeat;
      width: 46px;
      height: 46px;
      position: absolute;
      transform: translateY(-150%);
      background-image: url("../images/icons/1.svg");

      @include onTablet {
        transform: translate(-130%, 0);
        }

      @include onDesktop {
        transform: translate(-200%, 0);
        }
      }

      @include onTablet {
        &::after {
          content: '*  Robust';
          font-family: "Manrope", sans-serif;
          font-size: 16px;
          color: $gray;
          position: absolute;
          transform: translate(-15%,-110%);
          top: 0;
          left: 0;
          letter-spacing: 0;
        }
      }
    }

    &--2{
      &::before {
        content: '';
        display: block;
        background-repeat: no-repeat;
        width: 46px;
        height: 46px;
        position: absolute;
        transform: translateY(-150%);
        background-image: url("../images/icons/2.svg");
      }
      &::after {
        @include onTablet {
          content: '*  Beautiful';
          font-family: "Manrope", sans-serif;
          font-size: 16px;
          color: $gray;
          position: absolute;
          transform: translate(-15%,-170%);
          top: 0;
          right: 0;
          letter-spacing: 0;
        }

        @include onDesktop {
          left: 0;
          transform: translate(0, -150px);
        }
      }
    }

    &--3{
      &::before {
        content: '';
        display: block;
        background-repeat: no-repeat;
        width: 46px;
        height: 46px;
        position: absolute;
        transform: translateY(-150%);
        background-image: url("../images/icons/3.svg");

        @include onTablet {
          transform: translate(-130%, 0);
        }
        @include onDesktop {
          left: -60px;
          transform: translate(-100%, 0);
        }
      }

      &::after {
        @include onTablet {
          content: '*  Saves time';
          font-family: "Manrope", sans-serif;
          font-size: 16px;
          color: $gray;
          position: absolute;
          transform: translate(-15%,-110%);
          top: 0;
          left: 0;
          letter-spacing: 0;
        }

        @include onDesktop {
          left: 0;
          top: 0;
          transform: translate(-130%, -120%);
        }
      }
    }
  }

  &__text {
    @extend %manrope-16;
    color: $dark-grey;
    line-height: 150%;
    margin-bottom: 146px;
    &--no-margin {
      margin-bottom: 0;
    }

    @include onTablet {
      margin-bottom: 0;
    }
  }

  &__photo {
    &-1,&-2,&-3 {
      display: none;

      @include onTablet {
        display: inherit;
      }
    }

    &-1,&-2,&-3 {
      width: 40%;
    }

    &-2 {
      @include onDesktop {
        width: 80%;
      }
    }

    &-3 {
      @include onDesktop {
        width: 100%;
      }
    }
  }

  &__flex {
    display: flex;
    gap: 76px;
    align-items: center;

    &--1 {
      @include onDesktop {
        gap: 200px;
      }
    }

    &--2 {
      @include onDesktop {
        gap: 180px;
        flex-direction: column-reverse;
        align-items: flex-start;
      }
    }

    &--3 {
      @include onDesktop {
        flex-direction: column;
        align-items: flex-end;
      }
    }

    &--description-3 {
      @include onDesktop {
        width: 75%;
        text-align: left;
      }
    }
  }

  &__block {
    &-2 {
      padding-top: 110px;

      @include onDesktop {
        padding-top: 185px;
      }
    }

    &-3 {
      padding-top: 120px;

      @include onDesktop {
        padding-top: 80px;
      }
    }
  }

  &__extra {

    &-1 {
      height: max-content;
      position: absolute;
      bottom: 2%;
      right: -15px;
      transform: rotate(90deg);
      @extend %bebas-18;
      color: #828282;
      letter-spacing: 0.22em;
      font-size: 12px;

      &::after {
        content: '';
        position: absolute;
        background-image: url("../images/icons/grey-line.svg");
        display: block;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 65px;
        height: 1px;
        left: calc(-105% - 10px);
        top: 50%;
        transform: translateY(-100%);
      }

      @include onTablet {
        top: 150px;
        transform: translate(0);
        transform: rotate(90deg);
      }

      @include onDesktop {
        right: calc(100px + 1%);
        top: 300px;
      }
    }

    &-2 {
      display: none;
      @extend %bebas-18;
      color: #828282;
      letter-spacing: 0.22em;
      font-size: 12px;

      @include onDesktop {
        display: inline;
        position: absolute;
        bottom: 5%;
        left: calc(95px + 1%);
        transform: rotate(-90deg);

        &::before {
          content: '';
          position: absolute;
          background-image: url("../images/icons/grey-line.svg");
          display: block;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          width: 65px;
          height: 1px;
          left: calc(-105% - 10px);
          top: 50%;
          transform: translateY(-100%);
        }
      }
    }
  }
}