@mixin onDesktop {
  @media (min-width: 1280px) {
    @content;
  }
}

@mixin onTablet {
  @media (min-width: 640px) {
    @content;
  }
}

@mixin onMobile {
  @media (max-width: 639px) {
    @content;
  }
}

@mixin textUnderline {
  display: block;
  position: absolute;
  content: '';
  width: 100%;
  opacity: 0;
  background-color: $blue;
  bottom: -5px;
  height: 2px;
  border-radius: 5px;
  transition: all $transition-duration;
}